
/*Main Text Color
rgba(33, 33, 33, 1) 
*/

/* White Text 
color: #FFFFFF; 
*/

/* WebStudio Header
rgba(33, 150, 243, 1); 
rgba(0, 0, 0, 1)

*/

/* WebStudio Footer
rgba(33, 150, 243, 1); 
rgba(255, 255, 255, 1)

*/

/* Phone Header
color: #757575;; 
*/

/* Phone & Email Footer
rgba(255, 255, 255, 0.6)
*/

/* Accent  
background: #2196F3; 
*/
:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    

}


.body {
color: var(--primary-text-color); 
}

/*Header */
.logo {
color: var(--accent-color);
}

.page-header {
background-color: #FFFFFF;
}

.accent-header {
color:rgba(0, 0, 0, 1);
}

.accent-footer {
color:rgba(255, 255, 255, 1);
}

}
.accent-web {
color: var(--accent-color);
}


.list {
    list-style: none;
}

.site-nav .link {
color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
color: var(--accent-color);
}


/* Mail and Phone Number Header*/
.email {
color: var(--title-text-color);
}

.email:hover,
.email:focus {
color: var(--accent-color);
}


.phone {
color: var(--primary-text-color);
}

/*Hero Section 1 */
.hero {
width: 1600px;
height: 600px;
left: 0px;
top: 80px;
background-color:#2F303A;
}

.hero-section {
background-color:#2F303A; ;
}
.hero-title {
color:#FFFFFF;
}

.button {
color:#FFFFFF;
background-color:var(--accent-color);

font-size: 16px;
padding: 12px 24px;
display:inline-block;
border: 1px solid black;

}

.button.primary {
color:#FFFFFF;
background-color:var(--accent-color);
border-color: transparent;
}

.button.secondary {
color: var(--title-text-color);
background-color:#F5F4FA;
border-color: transparent;
}


/* Section 2 and 3 */
.about-section {
background-color:#F5F5F5;
}

.about-section-main {
color: var(--title-text-color);
}

.about-section-title {
color: var(--title-text-color);
}

.about-section-text {
color: var(--primary-text-color);
}

/* Section 4 */


.team-section {
background-color:#F5F4FA;
}

.team-section-main {
color: var(--title-text-color);
}


.team-section-leader {
color: var(--title-text-color);
}

.team-section-title {
color: var(--primary-text-color);
}


/* Footer*/
.footer {
width: 1600px;
height: 252px;
left: 0px;
top: 2094px;
background-color:#2F303A;
}

.footer-address {
color: #FFFFFF;
}

.footer-email {
color: rgba(255, 255, 255, 0.6);
}
.footer-phone {
color: rgba(255, 255, 255, 0.6);
}
