
/*Main Text Color
rgba(33, 33, 33, 1) 
*/

/* White Text 
color: #FFFFFF; 
*/

/* WebStudio Header
rgba(33, 150, 243, 1); 
rgba(0, 0, 0, 1)

*/

/* WebStudio Footer
rgba(33, 150, 243, 1); 
rgba(255, 255, 255, 1)

*/

/* Phone Header
color: #757575;; 
*/

/* Phone & Email Footer
rgba(255, 255, 255, 0.6)
*/

/* Accent  
background: #2196F3; 
*/

.body {
    color:#757575;;
    background-color:#F5F5F5;;
}

.logo {
color: #2196F3;

}

.accent-header {
color: rgba(0, 0, 0, 1)
}

.accent-footer {
color:rgba(255, 255, 255, 1)
}

}
.accent-web {
    color: #2196F3;
}


.list {
    list-style: none;
}

.site-nav .link {
    color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
color: #2196F3;
}


/* Mail and Phone Number*/
.email {
color: #212121;
}

.email:hover,
.email:focus {
color: #2196F3;
}


.phone {
color: #757575;
}

/*Hero Section 1 */
.hero {
width: 1600px;
height: 600px;
left: 0px;
top: 80px;
background: #2F303A;
}

.hero-section {
    background-color:#2F303A; ;
}
.hero-title {
    color:#FFFFFF;
}
.hero-button {
    color:#FFFFFF;
}

/* Section 2 and 3 */
.about-section {
background-color: #F5F5F5;
}

.about-section-main {
color: #212121;
}

.about-section-title {
color: #212121;
}
.about-section-text {
color: #757575;
}

/* Section 4 */


.team-section {
    background-color: background: #F5F4FA;;
}

.team-section-main {
color: #212121;
}


.team-section-leader {
color: #212121;
}

.team-section-title {
color: #757575;
}


/* Footer*/
.footer {
width: 1600px;
height: 252px;
left: 0px;
top: 2094px;
background: #2F303A;
}

.footer-address {
color: #FFFFFF;
}

.footer-email {
color: rgba(255, 255, 255, 0.6);
}
.footer-phone {
color: rgba(255, 255, 255, 0.6);
}
